.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem var(--color-shadow-sm) !important;
}
.shadow {
  box-shadow: 0 0.5rem 1rem var(--color-shadow-md) !important;
}
.shadow-lg {
  box-shadow: 0 1rem 3rem var(--color-shadow-lg) !important;
}
